.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  
  @include respond-to('md') {
    padding: 0 $spacing-2xl;
  }
}

.main {
  min-height: 100vh;
}

.section {
  padding: $spacing-3xl 0;
  
  @include respond-to('md') {
    padding: 4rem 0;
  }
}
