h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: $color-text;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl;
  
  @include respond-to('md') {
    font-size: 3rem;
  }
}

h2 {
  font-size: $font-size-3xl;
  
  @include respond-to('md') {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-base;
}

p {
  margin-bottom: $spacing-md;
  color: $color-text;
}

.text-secondary {
  color: $color-text-secondary;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}
